source https://www.nuget.org/api/v2
nuget FSharp.Core 4.0.0.1
nuget Xamarin.Android.FSharp.ResourceProvider restriction: >= monoandroid7.1
nuget Xamarin.Android.Support.v4 restriction: >= monoandroid7.1
nuget Xamarin.Android.Support.v7.AppCompat >= 23.3 restriction: >= monoandroid7.1
nuget Microsoft.Identity.Client 1.1.0-preview preview